@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Roboto:100,300,400,500');

*{box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: black;
}

body{
	background: #fff;
  font-family: 'Raleway', sans-serif;*/
  font-family: 'Lato', sans-serif;
}
ul{
  list-style: none;
  text-decoration: none;
}

li{
  text-decoration: none;
}

input, button {
  outline: none;
  transition: 0.3s all;
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fb_cont_wrapper{
  max-width: 1400px;
  margin: 0 auto;
}
.header_wrapper{
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
.enquiry_details{
	display: flex;
}
.enquiry_details_emails{
	padding: 10px;
}

.enquiry_details_phone{
	padding: 10px;
}

nav{
	height: 50px;
	margin: 10px auto;
}

nav ul{
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

nav ul a{
	padding: 10px;
}

nav ul li{
	border-right: 1px solid black;
	padding: 5px;
}

nav ul li a:link{
	text-decoration: none;
}

  .level1{
	height: 500px;
	 margin: 0 auto;
	 background: url(../images/backg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   }

   .level1_text{
   	padding: 100px 0 0 80px;
   }
   
    .level1_text form input{
     border: none;
     padding: 4px;
     border-bottom: 2px solid #2866E5;
     background: transparent;
    }

    .level1_text form> label{
    	margin-right: 125px;
    }
    
    .level1_text form button{
    	padding: 10px;
    	border-radius: 200px;
    	background: #2866E5;
      color: #fff;
    }


   .drone{
   	position: absolute;
   	top: 250px;
   	left: 65%;
   }

   .level1_login{
   	position: absolute;
   	top: 200px;
   	left: calc(50% + 200px);
   	background-color: rgba(255,255,255,0.6);
   	padding: 10px;
   	border-radius: 5px;
   }
    
     .level1_login a:link{
      text-decoration: none;
     }

   .level1_login input{
   	padding: 10px;
   	border-radius: 10px;
   }

   .level1_login button{
   	padding: 10px;
   	border-radius: 200px;
    background: #2866E5;
    color: #fff;
   }

    /*Level Two*/
   .level2{
   	 text-align: center;
   }
   .level2 h2{
      padding: 20px;
   }

   .info_wrapper{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 0 auto;
     max-width: 100%;
     /*background: #606E87;*/
     background: white;
   }

   .float_tracker{
   	position: fixed;
   	bottom: 0;
   	background: #606E87;
   	width: 100%;
   	height: 50px;
   	padding: 10px;
   	text-align: text;
   }

    .float_tracker p{
      position: absolute;
      top: 15px;
       left: 14%;
     }

   .float_tracker input{
   	padding: 10px;
   	margin: 0 auto;
   	border-radius: 40px;
   }

     .float_tracker button{
   		padding: 10px 20px;
   		border-radius: 40px;
   		margin-left: 20px;
      background: #2866E5;
      color: #fff;
     }

    .float_tracker form{
      position: absolute;
      top: 10px;
      left: 40%;
    }

    .footer_bottom_area{
      padding-top: 20px;
    	margin: 0 auto;
    	height: 150px;
    	display: flex;
    	flex-wrap: wrap;
    }
    .footer_bottom_area i{
      color:#2866E5;
    }
    .footer_bottom_area a:link{
      text-decoration: none;
    }
    .footer_bottom_area div{
    	flex: 1;
    	text-align: center;
    }


    /*======================================================
                          Signup Page
     ======================================================*/

     .signup_form{
     	max-width: 400px;
     	margin: 0 auto;
     	background: grey;
     	padding: 30px;
      border-radius: 5px;
      margin-bottom: 20px;

     }

     .signup_form input{
      display: block;
     	padding: 5px;
     	float: right;
      border-radius: 5px;
      border-bottom: 1px solid #2866E5;
     }
     .signup_form button{
       padding: 10px 20px;
       border-radius: 200px;
       background: #2866E5;
       color: #fff;
     }

     .signup_form h2{
      color: #fff;
     }
     .signup_form form{
       margin-top: 20px;
       background: white;
       padding: 10px;
       border-radius: 5px;
       padding-bottom: 20px;
     }
      
      .sigup_wrapper{
        padding-top: 30px;
        max-width: 100%;
        height: 80vh;
        background: url(../images/backg.jpg);
        background-repeat: no-repeat;
        background-size: 1400px;
      }


      /*======================================================
                          DashBoard
     ======================================================*/
     .dashB_container{
	  max-width: 1200px;
	  padding: 20px;
	  margin: 0 auto;
	  border:1px solid black;
     }

	  .dashB_nav {
	  	max-width: 100vw;
	  	height: 40px;
	  	margin-bottom: 10px;
	  	background: #fff;
	  }


     .table{ 
      display: table; 
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 20px;
      background: #C66E17;
      border-radius: 20px;
	 }
	 table, th, td{
	 	border: 1px solid black;
	 	padding: 10px;
	 }
	.stats{
		max-width: 600px;
        margin: 0 auto;
        background: #fff;
        border-radius: 20px;
        padding: 10px;
	}

		 /*Order Page*/
	.order_form{
		max-width: 400px;
		padding: 20px;
		margin: 0 auto;
		border-radius: 20px;
		background: #5B2BEF;
	}
	.order_form input{
		float: right;
		padding: 5px;
	}
	.order_form button{
		padding: 10px 20px;
		border-radius: 200px;
	}


	/*Order Summary*/
	.order_details{
		max-width: 600px;
    margin: 0 auto;
	}